header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 2rem; 
  padding: 0.5rem 1rem;
  background: blue;
}

header img {
  color: wheat;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  background-color: transparent;
}

header img:hover {
  cursor: pointer;
}
header h1 {
  color: white;
  font-size: 1.5rem;
}
header h1:hover {
  cursor: pointer;
}
.cart-container {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-container img {
  width: 3rem;
  height: 3rem;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: black;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%); 
}